<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="align-middle">
        <a >
          {{ product.name }}
        </a>
      </td>
      <td class="align-middle">{{ product.amount }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="remove(product)">Remove</button>
        <button class="btn btn-danger btn-sm" (click)="add(product)">Add</button>
      </td>      
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>


